.user-menu
    position: absolute
    top: 20px
    left: -50%
    background-color: #2C2A2A
    border-radius: 0 20px 20px 0
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.5)
    box-sizing: border-box
    transition: all 1s ease

    .user-info
        display: flex
        justify-content: space-around
        align-items: center
        margin: 15px 0
        padding: 5px 20px

        .user-text
            margin-right: 20px

            h3
                color: white
                margin: 0
                font-weight: normal

            p
                color: #968c8c
                margin: 0

        .logout-con
            width: 40px
            height: 40px
            position: relative
            margin-left: 15px
            border-radius: 50%

            &:hover img
                box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.5)
                transform: scale(1.1)

            img
                width: 100%
                height: 100%
                border-radius: 50%
                transition: all .3s ease

            .logout-btn
                width: 100%
                height: 100%
                position: absolute
                left: 0
                top: 0
                margin: 0
                padding: 0
                border: none
                background: transparent
                cursor: pointer
                outline: none

    hr
        width: 99%

    ul
        list-style: none
        margin: 0
        padding: 0

        a:last-child li
            border-radius: 5px 5px 20px 5px

        li
            color: #968c8c
            padding: 10px 20px
            cursor: pointer
            font-size: 20px
            border-radius: 5px

            &.active
                color: white

            &:hover
                background-color: rgba(255, 255, 255, 0.1)



@media (max-width: 800px)
    .flex-container
        .user-menu
            width: 95%
            border-radius: 20px
            left: 2.5%
            top: -70%

            .user-info
                justify-content: space-between