.mobile-header
    display: none
               

    .header-top
        display: flex
        align-items: center
        position: relative
        z-index: 3
        padding: 0 10px
        box-sizing: border-box
        width: 100%
        height: 40px
        background: #29b6f6
        border-radius: 0 0 10px 10px
        box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5)


        img
            position: absolute
            width: 50px
            height: 90%

        h2
            color: white
            font-size: 12px
            text-align: center
            margin: 0 auto
            width: 60%

        

@media ( max-width: 1064px)
    .mobile-header
        display: block


@media ( max-width: 500px )
    .mobile-header .header-top h2
        font-size: 10px
        

