
.to-top-button
    position: fixed
    bottom: 20px
    right: 20px
    width: 40px
    height: 40px
    z-index: 1000
    transform: rotate(90deg)

    &:hover
        filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.5))
        transform: rotate(90deg) scale(1.1)

.slide-enter
    transform: rotate(90deg) translateX(100px)

.slide-enter-active
    transform: rotate(90deg) translateX(0)
    transition: transform 500ms ease

.slide-exit
    transform: rotate(90deg) translateX(0)

.slide-exit-active
    transform: rotate(90deg) translateX(100px)
    transition: transform 500ms ease
