.mailing-container
    position: absolute
    left: 0
    top: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    width: 100%
    height: 100%
    padding: 10px 20px
    overflow: hidden
    box-sizing: border-box

    h1
        color: #ffffff
        font-size: 44px

    .mailing
        width: 100%
        overflow-y: scroll
        padding-right: 10px
        display: flex
        flex-direction: column
        align-items: center
        flex-grow: 1

        > div
            width: 100%
            display: flex
            flex-direction: column
            align-items: flex-start

        .recipients
            z-index: 100
            .input-wrapper
                width: 100%
                display: flex
                align-items: flex-end
                justify-content: space-between

                .ui.multiple
                    width: calc(100% - 50px)


        .type
            .ui
                width: 25%
                z-index: 101

                .text
                    text-align: center
                    font-size: 22px
                    cursor: pointer

                .menu
                    width: 100%

                    .item span
                        text-align: center
                        font-size: 22px

        .fade-enter
            opacity: 0

        .fade-enter-active
            opacity: 1
            transition: opacity 500ms ease

        .fade-exit
            opacity: 1

        .fade-exit-active
            opacity: 0
            transition: opacity 500ms ease

        h3
            color: white
            border-bottom: 2px solid #19ccf3
            display: inline-block
            font-size: 24px
            font-weight: normal

        textarea
            width: 100%
            font-size: 20px
            background-color: #201E1E
            color: white
            border: none
            border-radius: 10px
            padding: 10px

        .send-btn
            width: 90%
            color: white
            background-color: #19CCF3
            border: none
            border-radius: 10px
            font-size: 24px
            transition: all 0.5s ease
            margin: 20px auto
            cursor: pointer

            &:hover
                transform: scale(1.03)
                box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5)


@media (max-width: 695px)
    .mailing-container
        padding: 10px
        h1
            font-size: 34px
            margin-top: 45px
        .mailing
            .type .ui
                width: 65%
