// $bg-color: #201E1E
// $bg-card: #2C2A2A
// $blue: #29B6F6
// $purple: #3845B8


body
    margin: 0
    background-color: #201E1E
    font-family: 'Noto Sans', sans-serif

*
    font-family: 'Noto Sans', sans-serif
    scrollbar-width: thin
    scrollbar-color: #29B6F630 transparent
    outline: none
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent

    &::-webkit-scrollbar
        height: 5px
        width: 5px
        background-color: transparent

    &::-webkit-scrollbar-corner
        background-color: transparent

    &::-webkit-scrollbar-thumb
        background-color: #29B6F630
        border-radius: 20px

a
    text-decoration: none
    color: white

.container
    display: flex
    justify-content: space-between
    align-items: center
    width: 85%
    height: 100%
    margin: 0 auto

main .awssld
    --content-background-color: transparent
    --organic-arrow-color: #ffffff
    --control-bullet-color: #ffffff59
    --control-bullet-active-color: #ffffff
    --slider-height-percentage: 50%

    .awssld__timer
        top: auto
        bottom: 10%

    .awssld__bullets
        bottom: 50px
        z-index: 1000

.react-grid-Container 
    background-color: transparent
    width: 100% !important

    .react-grid-Canvas
        width: 100% !important
        &::-webkit-scrollbar
            width: 0
        .editor-main
            background-color: #201E1E !important
            color: white
            transition: none
            font-size: 16px

        > div:nth-child(2)
            width: 100% !important
            transition: none

    .react-grid-Main
        outline: none

    .react-grid-Grid
        border: none
        border-top: 2px solid white

    .react-grid-Header
        border-bottom: 2px solid #29B6F6

    .react-grid-Row
        border-bottom: 1px solid #ddd

    .react-grid-HeaderCell
        border-bottom: 2px solid #29B6F6
        background-color: #2c2a2a !important

        &:last-child
            border-right: none


    .react-grid-Cell
        &:last-child
            border-right: none
    
    *
        color: white
        text-align: center
        box-sizing: border-box
        background-color: transparent !important


#root
    min-height: 100vh


@media (max-width: 700px)
    main .awssld .awssld__bullets
            bottom: -40px