.item
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: auto
    height: 180px
    min-width: 180px
    border-radius: 20px
    background-color: #201e1e
    cursor: pointer
    margin: 20px

    .name
        transition: font-size .5s ease
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        text-align: center
        vertical-align: middle
        line-height: 180px
        margin: 0
        font-size: 48px

    &:hover
        .name
            font-size: 64px

        .delete
            transition: all 0.5s ease
            visibility: visible
            opacity: 1

    .size
        font-size: 64px
        color: transparent

    &#subject
        padding: 10px

        .size
            font-size: 36px

        .name
            font-size: 30px

        &:hover
            .name
                font-size: 36px

    .delete
        width: 36px
        height: 36px
        position: absolute
        top: 5px
        right: 10px
        display: flex
        justify-content: center
        align-items: center
        background-color: #201E1E
        border-radius: 10px
        transition: all 0.5s ease, visibility 0s linear 0.5s
        opacity: 0
        outline: none
        cursor: pointer
        z-index: 10
        visibility: hidden

        span
            font-size: 26px
            transition: all 0.3s ease-in-out
            color: white
            margin: 0
            width: 100%
            text-align: center

        &:hover
            box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.5)

            span
                color: darkred

.selector
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center

    .plus
        position: absolute
        top: 35px
        right: 35px
        width: 80px
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 10px
        cursor: pointer
        background-color: #19CCF3
        color: white
        padding: 0
        font-size: 34px
        transition: all .3s ease-in-out

        &:hover
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5)
            font-size: 44px

        + .items
            margin-top: 30px

    h1
        color: white
        margin-bottom: 0
        font-size: 44px

    h2
        color: white
        align-self: flex-start
        font-size: 36px
        margin-left: 20px
        border-bottom: 2px solid #19CCF3

    .items
        display: flex
        flex-wrap: wrap
        justify-content: center
        overflow: auto
        width: 100%

@media (max-width: 695px)
    .selector
        h1
            font-size: 30px

        h2
            font-size: 26px
        .items
            justify-content: center
        .plus
            width: 50px
            height: 35px
            top: 25px
