.auth-back
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto


    .auth
        width: 60%
        height: 60%
        padding: 1px
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        background: #2C2A2A
        border-radius: 20px
        position: relative

        img
            position: absolute
            width: 40px   
            top: 35px
            left: 35px

        .title
            color: white
            font-size: 34px
            margin: 0 

        .login-error
            color: red
            font-weight: bold

        .hidden
            display: none

        .input-container
            width: 100%
            height: 150px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center


            .input
                display: flex
                border: none
                background: #2C2A2A
                width: 100%
                height: 34px
                border-radius: 20px
                box-sizing: border-box
                padding: 3px 20px
                color: white
                font-size: 18px
                line-height: 20px
                outline: none

                &::placeholder     
                    color: white

            .input-border
                background: linear-gradient(237.39deg, #5F26FF 5.27%, #B326FF 107.82%)
                border-radius: 20px
                height: 40px
                width: 60%
                box-sizing: border-box 
                position: relative
                padding: 3px
                // margin: 0 auto



        .button-auth
            display: flex
            justify-content: center
            align-items: center
            border: none
            border-radius: 20px
            background: linear-gradient(237.39deg, #5F26FF 5.27%, #B326FF 107.82%)
            color: white
            font-weight: bold 
            width: 150px
            height: 35px
            padding: 3px 10px
            margin-right: 10px
            cursor: pointer
            font-size: 18px
            line-height: 20px
            text-align: center
            outline: none

            &:hover
                 box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5)


@media (max-width: 1024px)
    .auth-back .auth
        width: 95%

@media (max-width: 700px)
    .auth-back .auth
        height: 90vh

        .title
            font-size: 44px
            // margin-top: 50px

        .input-container .input-border
            width: 90%
            height: 50px

            .input
                height: 44px
        
        .button-auth
            width: 250px
            height: 50px
            font-size: 24px
            margin-bottom: 50px

@media (max-width: 500px)
    .auth-back
        .auth
            img
                left: auto
                top: 20px
                right: 20px            